<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Egzamin</title>
        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static 'aplikacja/style.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'aplikacja/foundation.css' %}" />
    </head>
    {% if info %}
        <p class="info"> {{ info }}</p>
    {% endif %}
    {% if user.is_authenticated  %}
        <p>Jesteś zalogowany jako: {{ user.username }}</p>
    {% endif %}
    <div class="menu">
    <ul class="nav">
        {% if user.is_authenticated  %}
        <li><a href="{% url 'app:logout' %}">Wyloguj</a></li>
        <li><a href="{% url 'app:ustaw' %}">Ustaw dane do Canvasa</a></li>
        <li><a href="{% url 'app:grades' %}">Twoje oceny</a></li>
        {% else %}
        <li><a href="{% url 'app:sprawdz' %}">Sprawdz oceny z canvasa</a></li>
        {% endif %}
    </ul>
    </div>
    {% block content %}
    {% endblock %}
    </body>
</html>