{% extends "base.html" %}

{% block content %}
        {% if kursy %}
        <p>Pozostały czas sesji: {{ czas }}</p>
        <p><a href="{% url 'app:dalej' %}">Przedłuż czas sesjii do 2 min</a></p>
        <p><a href="{% url 'app:zabij' %}">Wprowadź inne dane</a></p>
        <h4>Twoje kursy: </h4>
            {% for kurs in kursy %}
                <p><a href="{% url 'app:download' kurs.1 %}">{{ kurs.0 }}</a></p>
            {% endfor %}
        {% else %}
        <h4>Złe dane do canvasa lub nie jesteś zapisany do żadnego kursu!</h4>
        {% endif %}
{% endblock %}