{% extends "base.html" %}

{% block content %}
  <form action="{% url 'app:register' %}" method="post">
      {% csrf_token %}
      <table>
      {{ form.as_table }}
      </table>
      <input type="submit" value="Stwórz">
      <p class="info">{{ error }}</p>
  </form>
{% endblock %}