{% extends "base.html" %}

{% block content %}
        <h4>Wprowadź dane do konta Canvas</h4>
  <form action="{% url 'app:sprawdz' %}" method="post">
      {% csrf_token %}
      <table>
      {{ form.as_table }}
      </table>
      <input type="submit" value="Sprawdz">
      <p class="info">{{ error }}</p>
  </form>
{% endblock %}