html, body {
	background-color: #E0EEEE;
	color: #000;
	margin: 0;
	padding: 0;
}

.wpis {
    width: 75%;
    background-color: #FFF;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    position: relative;
}

.title{
    float: left;
    color: #8f0206;
	font: normal 32px/125% 'Copse';
	margin: 0 0 10px;
}

.author{
    float: right;
    color: #949289;
	font-weight: bold;
}

.text{
    clear: both;
    font-size: 16px;
	line-height: 150%;
	margin-left: 20px;
	margin-right: 20px;
}

.stopka{
    float: right;
    clear: both;
    color: #03AD03;
}

.nav li{
    list-style: none;
}

.list{
    margin-left: 40px;
}

.info{
    color: red;
}

